.cover {
  min-height: 100vh;
  display: flex;
}

.card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  margin: auto;
  min-width: 25%;
  min-height: 25%;
  max-width: 40%;
  max-height: 40%;
}

img:hover {
  animation: mymove 1s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
    height: 40%;
    width: 40%;
  }
  to {
    height: 25%;
    width: 25%;
  }
}
