.cover {
  min-height: 100vh;
  display: flex;
}

.cardC {
  width: 80%;
  height: 80%;
  display: flex;
  margin: auto;
  color: white;
}

.section1 {
  display: flex;
  width: 30%;
}

.section2 {
  display: flex;
  width: 70%;
}

img {
  margin: auto;
  min-width: 25%;
  min-height: 25%;
  max-width: 40%;
  max-height: 40%;
}

img:hover {
  animation: mymove 1s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
    height: 40%;
    width: 40%;
  }
  to {
    height: 25%;
    width: 25%;
  }
}
