.container {
  flex-flow: row wrap;
  max-width: 70%;
  min-width: 30%;
}

.samp {
  min-height: 100vh;
  display: flex;
}

.card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  margin: 10px;
  min-width: 10%;
  min-height: 10%;
  max-width: 30%;
  max-height: 30%;
}
