.page {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(28, 91, 93, 1) 25%,
    rgba(33, 166, 170, 1) 53%,
    rgba(39, 200, 215, 1) 71%,
    rgba(0, 198, 255, 1) 89%
  );
}
