html {
  height: 100%;
  background-color: rgba(0, 146, 255);
}

body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(
      90deg,
      rgba(0, 146, 255, 1) 0%,
      rgba(255, 255, 255, 0) 1%,
      rgba(255, 255, 255, 0) 2%,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0) 99%,
      rgba(0, 146, 255, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(0, 146, 255, 1) 0%,
      rgba(255, 255, 255, 0) 1%,
      rgba(255, 255, 255, 0) 2%,
      rgba(255, 255, 255, 0) 98%,
      rgba(255, 255, 255, 0) 99%,
      rgba(0, 146, 255, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(28, 91, 93, 1) 25%,
      rgba(33, 166, 170, 1) 53%,
      rgba(39, 200, 215, 1) 71%,
      rgba(0, 198, 255, 1) 89%
    );
}
